.toolbar {
  display: flex;
  justify-content: flex-end;
  /* Aligns the button to the right */
  padding: 10px;
  background-color: #f0f0f0;
  /* Light gray background */
  border-bottom: 1px solid #ccc;
  /* Border at the bottom */
}

.plus-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  /* Spacing between toolbar items */
}

.draggable {
  cursor: move;
  /* Indicates that an element is draggable */
}

.placeholder {
  background: #e0e0e0;
  /* Light grey background */
  border-style: dashed;
  /* Dashed border style */
}
